/**
 * Scss Variables 
 * Arctic Antique brand colors
 */

$mainColor: #05470a;
$mainColorDark: #1a2d1c;
$whiteColor: #ffffff;
$blackColor: #181818;
$accentLight: #f4f1e7;
$grayColor: #8e8e8e;
$grayColorLight: #e0e0e0;
$grayColorDark: #666666;