// Cart-Drawer z-index Override - MUSS über allem liegen!
cart-drawer {
    z-index: 9999999999 !important;
}

.drawer {
    z-index: 9999999999 !important;
}

.cart-drawer {
    z-index: 9999999999 !important;

    .cart-drawer__overlay {
        background-color: rgba(5, 71, 10, .2) !important;
    }

    // Mobile: Cart-Drawer Vollbreite
    @include screen(med-small) {
        justify-content: center !important;
        align-items: center !important;
        padding: 15px !important;
    }
    .drawer__inner {
        width: 40vw;
        max-width: 600px;
        min-width: 40rem;

        // Mobile: Vollbreite minus kleiner Margin
        @include screen(med-small) {
            width: calc(100vw - 30px) !important;
            max-width: calc(100vw - 30px) !important;
            min-width: auto !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
        }

        // Optimierte Animationen für schnellere Performance
        transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
        .drawer__inner-empty {
            .cart__empty-text {
                position: relative;
                padding: 30px 0 0 0;
                font-family: 'Copperplate';
                color: $mainColor;
                font-weight: 100;
                font-size: $fontSizeLarge;
                text-align: center !important;
                @include screen(med-small) {
                    padding: 40px 0 0 0;
                    font-size: $fontSizeLarge;
                }
                &:before {
                    display: block;
                    width: 92px;
                    height: 88px;
                    content: ' ';
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background: url('headline-icon_light.png') transparent no-repeat center top;
                }
            }
        }
    }

    // Zeige leere Warenkorb-Struktur nur wenn Cart leer ist
    &.is-empty .drawer__inner-empty {
        display: flex !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 10 !important;
        position: relative !important;
    }

    // ENTFERNT: Diese Regel verhinderte die Anzeige des leeren Cart-Zustands
    // &:not(.is-empty) .drawer__inner-empty {
    //     display: none !important;
    // }

    // PROBLEM GELÖST: Die problematische Regel wurde direkt in assets/component-cart-drawer.css entfernt
    // Keine Überschreibungen mehr nötig!

    // Verstecke gefüllte Strukturen wenn Cart leer ist
    &.is-empty cart-drawer-items {
        display: none !important;
    }

    &.is-empty .drawer__header {
        display: none !important;
    }

    &.is-empty .drawer__footer {
        display: none !important;
    }
    .drawer__header {
        justify-content: center;
        .drawer__heading {
            position: relative;
            padding: 30px 0 0 0;
            font-family: 'Copperplate';
            color: $mainColor;
            font-weight: 100;
            font-size: $fontSizeLarge;
            text-align: center;
            @include screen(med-small) {
                padding: 40px 0 0 0;
                font-size: $fontSizeLarge;
            }
            &:before {
                display: block;
                width: 92px;
                height: 88px;
                content: ' ';
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background: url('headline-icon_light.png') transparent no-repeat center top;
            }
        }
    }
    .drawer__contents {
        .drawer__cart-items-wrapper {
            * {
                font-family: 'Cormorant Garamond';
            }

            // Mobile: Table-Layout überschreiben
            @include screen(med-small) {
                .cart-items {
                    display: block !important;
                }

                .cart-items tbody {
                    display: block !important;
                }
            }

            .cart-item {
                // Desktop Layout
                grid-template: repeat(2, auto) / repeat(3, 1fr);

                // Mobile Layout - Kachel-Design
                @include screen(med-small) {
                    display: block !important;
                    grid-template: none !important;
                    border: 1px solid $grayColorLight;
                    border-radius: 12px;
                    padding: 10px;
                    margin-bottom: 15px;
                    background-color: $whiteColor;
                    position: relative;

                    // Alle TD-Elemente als Block anzeigen
                    td {
                        display: block !important;
                        width: 100% !important;
                        padding: 0 !important;
                        border: none !important;

                        // Totals TD komplett verstecken
                        &.cart-item__totals {
                            display: none !important;
                        }
                    }
                }

                .cart-item__media {
                    position: relative;
                    width: 100%;

                    // Mobile: Bild vollflächig
                    @include screen(med-small) {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    img {
                        width: 100%;
                        object-fit: cover;

                        // Mobile: Border-Radius für Bild
                        @include screen(med-small) {
                            border-radius: 8px;
                        }
                    }
                }
                .cart-item__totals {
                    display: none;

                    // Mobile: Komplett verstecken
                    @include screen(med-small) {
                        display: none !important;
                    }
                }
                .cart-item__details {
                    * {
                        font-family: 'Cormorant Garamond';
                        color: $mainColorDark;
                        font-size: $fontSizeRegular;
                    }
                    .h4 {
                        font-size: $fontSizeMedium;
                    }

                    // Mobile: Volle Breite und unter dem Bild
                    @include screen(med-small) {
                        width: 100% !important;
                        grid-column: auto !important;
                    }

                    // SKU Styling
                    .cart-item__sku {
                        margin-top: 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .cart-item__sku-label,
                        .cart-item__sku-value {
                            font-size: 14px !important;
                            font-weight: 700 !important;
                            color: $grayColor !important;
                            font-family: 'Cormorant Garamond' !important;
                            line-height: 1.2;
                        }

                        .cart-item__sku-label {
                            font-weight: normal;
                            margin-right: 5px;
                        }

                        .cart-item__sku-value {
                            font-weight: 500;
                        }
                    }
                }
                .cart-item__quantity {
                    // Mobile: Unter den Details positionieren
                    @include screen(med-small) {
                        grid-column: auto !important;
                        margin-top: 10px;
                        width: 100%;
                    }
                }

                cart-remove-button {
                    position: absolute;
                    top: 5px;
                    right: -10px;

                    // Mobile: Anpassung der Position für Kachel-Layout
                    @include screen(med-small) {
                        top: 15px;
                        right: 15px;
                    }

                    .button {
                        width: 2.5rem !important;
                        height: 2.5rem !important;
                        min-width: 2.5rem !important;
                        min-height: 2.5rem !important;
                        max-width: 2.5rem !important;
                        max-height: 2.5rem !important;
                        background-color: $accentLight !important;
                        color: $blackColor !important;
                        outline: none !important;
                        box-shadow: none !important;
                        &:hover {
                            background-color: $mainColor !important;
                            color: $whiteColor !important;
                        }
                    }
                }
            }
        }
    }
    .drawer__footer {
        #CartDrawer-VatIdButton {
            margin: 5px 0 20px 0 !important;
            font-weight: 700 !important;
            background-color: $whiteColor !important;
            color: $mainColor !important;
            border: 1px solid $mainColor !important;
            &:hover {
                background-color: $mainColor !important;
                color: $whiteColor !important;
            }
        }
        #Details-CartDrawer {
            .summary__title {
                font-weight: 700 !important;
            }
            label {
                display: none !important;
            }
            textarea {
                height: 180px !important;
                border: 1px solid $grayColor !important;
                &:focus {
                    border: 1px solid $mainColor !important;
                    color: $mainColor !important;
                }
            }
        }
        .totals {
            @media screen and (max-width: 1200px) {
                display: block;
                width: 100%;
                margin: 3px 0;
                flex: 1 1 100%;
            }
            .totals__total, .totals__total-value {
                font-weight: bold !important;
                font-size: $fontSizeMedium !important;
                @media screen and (max-width: 1200px) {
                    display: block;
                    width: 100%;
                    margin: 5px 0;
                }
            }
            .totals__total {
                @media screen and (max-width: 1200px) {
                    font-size: $fontSizeRegular !important;
                }
            }
            .totals__total-value {

            }
        }
        * {
            font-family: 'Cormorant Garamond';
        }
    }
}

// Mobile Cart-Drawer Items - Kein eigenes Scrolling mehr
cart-drawer-items {
    @include screen(med-small) {
        // Entferne das problematische overflow: auto vom Original-CSS
        overflow: visible !important;
        overflow-y: visible !important;
        overflow-x: visible !important;

        // Kein Padding mehr nötig - Parent scrollt
        padding-bottom: 0 !important;

        // Height auto damit es sich an Inhalt anpasst
        height: auto !important;
        min-height: auto !important;
        max-height: none !important;

        // Flex-Verhalten entfernen
        flex: none !important;
    }
}

// Body-Scroll sperren wenn Cart-Drawer offen ist
body:has(cart-drawer.active) {
    @include screen(med-small) {
        overflow: hidden !important;
        position: fixed !important;
        width: 100% !important;
    }
}

// Fallback für Browser ohne :has() Support
body.cart-drawer-open {
    @include screen(med-small) {
        overflow: hidden !important;
        position: fixed !important;
        width: 100% !important;
    }
}

// Optimierte Cart-Drawer Animationen für bessere Performance
cart-drawer {
    // Schnellere Opacity-Transition für sofortiges Öffnen
    transition: opacity 100ms ease-out !important;

    // Mobile: Cart-Drawer Layout anpassen - wie MicroModal
    @include screen(med-small) {
        justify-content: center !important;
        align-items: center !important;
        padding: 20px 15px !important;

        .drawer__inner {
            width: 100% !important;
            max-width: 100% !important;
            min-width: auto !important;
            height: 90vh !important; // Wie MicroModal: max-height: 90vh
            max-height: 90vh !important;
            margin: 0 !important;
            border-radius: 12px !important;
            overflow-y: auto !important; // HIER ist das Scrolling - wie MicroModal
            overflow-x: hidden !important;
            -webkit-overflow-scrolling: touch !important;
            box-sizing: border-box !important;
        }
    }

    // Optimierte Schließ-Animation
    &:not(.active) {
        opacity: 0 !important;
        pointer-events: none !important;

        .drawer__inner {
            transform: translateX(100%) !important;
            transition: transform 200ms ease-in !important;

            // Mobile: Scale Animation statt Slide
            @include screen(med-small) {
                transform: scale(0.9) !important;
                transition: transform 200ms ease-in, opacity 200ms ease-in !important;
            }
        }
    }

    // Optimierte Öffnungs-Animation
    &.active {
        opacity: 1 !important;
        pointer-events: auto !important;

        .drawer__inner {
            transform: translateX(0) !important;
            transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;

            // Mobile: Scale Animation statt Slide
            @include screen(med-small) {
                transform: scale(1) !important;
                transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 150ms ease-out !important;
            }
        }
    }
}

// VAT ID Button - Mobile Schrift kleiner für einzeilige Darstellung
#CartDrawer-VatIdButton {
    @include screen(med-small) {
        font-size: 14px !important;
        line-height: 1.2 !important;
        white-space: nowrap !important;
        padding: 8px 12px !important;
    }
}