.cart-drawer {
    .cart-drawer__overlay {
        background-color: rgba(5, 71, 10, .2) !important;
    }
    .drawer__header {
        justify-content: center;
        .drawer__heading {
            position: relative;
                padding: 30px 0 0 0;
                font-family: 'Copperplate';
                color: $mainColor;
                font-weight: 100;
                font-size: $fontSizeLarge;
                text-align: center;
                @include screen(med-small) {
                    padding: 40px 0 0 0;
                    font-size: $fontSizeLarge;
                }
                &:before {
                    display: block;
                    width: 92px;
                    height: 88px;
                    content: ' ';
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
	                -ms-transform: translateX(-50%);
	                transform: translateX(-50%);
                  background: url('headline-icon_light.png') transparent no-repeat center top;
                }
        }
    }
    .drawer__contents {
        .drawer__cart-items-wrapper {
            * {
                font-family: 'Cormorant Garamond';
            }
            .cart-item__media {
                position: relative;
            }
            cart-remove-button {
                position: absolute;
                top: 5px;
                right: -10px;
                .button {
                    width: 2.5rem !important;
                    height: 2.5rem !important;
                    min-width: 2.5rem !important;
                    min-height: 2.5rem !important;
                    max-width: 2.5rem !important;
                    max-height: 2.5rem !important;
                    background-color: $accentLight !important;
                    color: $blackColor !important;
                    outline: none !important;
                    box-shadow: none !important;
                    &:hover {
                        background-color: $mainColor !important;
                        color: $whiteColor !important;
                    }
                }
            }
        }
    }
    .drawer__footer {
        #CartDrawer-VatIdButton {
            margin: 5px 0 20px 0 !important;
            font-weight: lighter !important;
            background-color: $whiteColor !important;
            color: $mainColor !important;
            border: 1px solid $mainColor !important;
            &:hover {
                background-color: $mainColor !important;
                color: $whiteColor !important;
            }
        }
        #Details-CartDrawer {
            .summary__title {
                
            }
            label {
                display: none !important;
            }
            textarea {
                height: 180px !important;
                border: 1px solid $grayColor !important;
                &:focus {
                    border: 1px solid $mainColor !important;
                    color: $mainColor !important;
                }
            }
        }
        .totals {
            .totals__total, .totals__total-value {
                font-weight: bold !important;
                font-size: $fontSizeMedium !important;
            }
        }
        * {
            font-family: 'Cormorant Garamond';
        }
    }
}