.color-circle {
    margin-right: 10px;
    vertical-align: middle;
}

.facets-container {
    display: block !important;
    width: 100%;
    .product-count {
        display: block;
        width: 100%;
        text-align: center;
        flex: 1 1 100%;
        margin: 45px 0 25px 0;
        h1, h2, h3, h4, h5, h6 {
            span {
                position: relative;
                padding: 30px 0 0 0;
                font-family: 'Copperplate';
                color: $mainColor;
                font-weight: 100;
                font-size: $fontSizeLarge;
                text-align: center;
                @include screen(med-small) {
                    padding: 40px 0 0 0;
                    font-size: $fontSizeLarge;
                }
                &:before {
                    display: block;
                    width: 92px;
                    height: 88px;
                    content: ' ';
                    position: absolute;
                    z-index: -1;
                    top: 0px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background: url('headline-icon_light.png') transparent no-repeat center top;
                }
            }
        }
    }
    .facets {
        &.small-hide {
            #FacetsWrapperDesktop {
                .facets__summary {
                    text-decoration: none !important;
                    padding: 0px !important;
                    * {
                        text-decoration: none !important;
                    }
                    span {
                        padding: 0px;
                        font-family: 'Cormorant Garamond';
                        color: $mainColorDark;
                        font-size: $fontSizeMedium;
                        margin: 15px 0px 0px 0px;
                        display: block;
                    }
                }
                .facets__header-vertical {
                    text-decoration: none !important;
                    padding: 0px !important;
                    * {
                        text-decoration: none !important;
                    }
                    span {
                        padding: 0px;
                        font-family: 'Cormorant Garamond';
                        color: $mainColorDark;
                        font-size: $fontSizeSmall;
                        margin: 5px 0px 10px 0px;
                        display: block;
                    }
                }
            }
        }
    }
}

.mobile-facets__wrapper {
    @media screen and (max-width: 981px) {
        display: block !important;
        width: 100%;
    }
    .mobile-facets__disclosure {
        @media screen and (max-width: 981px) {
            display: block !important;
            width: 100%;
            text-align: center;
        }
    }
    .mobile-facets {
        .mobile-facets__header {
            padding: 12px 30px;
            p {
                font-family: 'Cormorant Garamond';
                color: $mainColorDark;
                font-size: $fontSizeMedium !important;
                margin: 0px;
            }
        }
        .mobile-facets__main {
            .mobile-facets__submenu {
                visibility: visible;
                opacity: 1;
                position: relative;
                transform: none;
            }
            .mobile-facets__summary {
                display: none;
            }
            p, ul {
                padding: 5px 30px;
                font-family: 'Cormorant Garamond';
                color: $mainColorDark;
                font-size: $fontSizeRegular;
                margin: 0px;
            }
            .mobile-facets__details {
                .mobile-facets__footer {
                    display: none;
                }
            }
        }
    }
}

.facets__list--vertical, .mobile-facets__list {
    .facets__item {
        margin: 0 0 8px 0;
        .facets__label {
            padding: 8px 12px;
            border-radius: 50px;
            border: 1px solid #e9e9e9;
            font-family: 'Cormorant Garamond';
            color: $mainColorDark;
            font-size: $fontSizeRegular;
            line-height: 1;
        }
    }
}

.active-facets {
    margin: 0px !important;
    padding: 0 !important;
    .active-facets-vertical-filter, .active-facets__button-wrapper {
        display: block !important;
    }
    facet-remove {
        .active-facets__button {
            margin: 8px 4px 0 0 !important;
            padding: 0px !important;
            @media screen and (max-width: 981px) {
                margin: 8px 8px 0 0 !important;
            }
            .active-facets__button-inner {
                padding: 8px 12px;
                border-radius: 50px;
                border: 1px solid $mainColor;
                font-family: 'Cormorant Garamond';
                color: $whiteColor;
                font-size: $fontSizeSmall;
                line-height: 1;
                background-color: $mainColor;
            }
        }
    }
}