@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate-Light.eot');
    src: local('Copperplate Light'), local('Copperplate-Light'),
        url('Copperplate-Light.eot?#iefix') format('embedded-opentype'),
        url('Copperplate-Light.woff2') format('woff2'),
        url('Copperplate-Light.woff') format('woff'),
        url('Copperplate-Light.ttf') format('truetype'),
        url('Copperplate-Light.svg#Copperplate-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate.eot');
    src: local('Copperplate'),
        url('Copperplate.eot?#iefix') format('embedded-opentype'),
        url('Copperplate.woff2') format('woff2'),
        url('Copperplate.woff') format('woff'),
        url('Copperplate.ttf') format('truetype'),
        url('Copperplate.svg#Copperplate') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate-Bold.eot');
    src: local('Copperplate Bold'), local('Copperplate-Bold'),
        url('Copperplate-Bold.eot?#iefix') format('embedded-opentype'),
        url('Copperplate-Bold.woff2') format('woff2'),
        url('Copperplate-Bold.woff') format('woff'),
        url('Copperplate-Bold.ttf') format('truetype'),
        url('Copperplate-Bold.svg#Copperplate-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}