.main-blog {
    .title--primary {
        position: relative;
        padding: 30px 0 0 0;
        font-family: 'Copperplate';
        color: $mainColor;
        font-weight: 100;
        font-size: $fontSizeMedium*2;
        text-align: center;
        z-index: 1;
        @include screen(med-small) {
          padding: 40px 0 0 0;
          font-size: $fontSizeLarge;
        }
        &:before {
          display: block;
          width: 92px;
          height: 88px;
          content: ' ';
          position: absolute;
          z-index: -1;
          top: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background: url('headline-icon_light.png') transparent no-repeat center top;
        }
    }
}