#ProductGridContainer, product-recommendations {
    .grid__item {

    }
    .card-wrapper {
        .card {
            position: relative;
            .card__inner {
                position: relative;
            }
            .card-product__add-button {
                font-size: $fontSizeRegular;
            }
            .card__content {
                position: absolute;
                height: 100%;
                * {
                    text-decoration: none !important;
                }
                .card__information {
                    padding: 0px;
                    .card-product__link {
                        .card-product__content {
                            display: flex;
                            height: 100%;
                            flex-wrap: wrap;
                            padding: 20px;
                            &.card-product__content--initial {
                                z-index: 9999 !important;
                                .card-product__headline-container {
                                    flex: 1 1 100%;
                                    align-self: self-start;
                                    margin: 0px;
                                    .card__article-number {
                                        line-height: 1;
                                        span {
                                            font-family: 'Cormorant Garamond';
                                            color: $mainColorDark;
                                            font-size: $fontSizeRegular;
                                            font-weight: bold;
                                        }
                                    }
                                    h1, h2, h3, h4, h5, h6 {
                                        font-family: 'Cormorant Garamond';
                                        font-size: $fontSizeRegular;
                                        color: $whiteColor;
                                        opacity: 0;
                                        margin: 5px 0px 0px 0px;
                                    }
                                }
                                .card-product__actions {
                                    opacity: 0;
                                    width: max-content;
                                    margin: 0 auto 20px auto;
                                    align-self: flex-end;
                                    * {
                                        margin: 0px !important;
                                    }
                                }
                                .card-product__price-container {
                                    flex: 1 1 100%;
                                    align-self: self-end;
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    .price {
                                        flex: 0 0 auto;
                                        .vat-info-badge {
                                            font-size: $fontSizeRegular;
                                        }
                                        .price__container {
                                            .price-item {
                                                font-family: 'Cormorant Garamond';
                                                color: $mainColorDark;
                                                font-size: $fontSizeRegular;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                                .card-product__weight {
                                    flex: 1 1 auto;
                                    align-self: self-end;
                                    margin: 0px;
                                    text-align: right;
                                    span {
                                        font-family: 'Cormorant Garamond';
                                        color: $mainColorDark;
                                        font-size: $fontSizeRegular;
                                    }
                                }
                            }
                            &.card-product__content--hover {
                                display: flex;
                                height: 100%;
                                flex-wrap: wrap;
                                padding: 15px;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                z-index: 99;
                                .card-product__specs-list {
                                    margin: 10px 0 20px 0;
                                    padding: 0px;
                                    width: max-content;
                                    display: block;
                                    width: 100%;
                                    li {
                                        font-family: 'Cormorant Garamond';
                                        font-size: $fontSizeSmall;
                                        color: $whiteColor;
                                        margin: 0px;
                                        padding: 0px;
                                        list-style: none;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                        &:hover {
                            .card-product__content {
                                h1, h2, h3, h4, h5, h6 {
                                    opacity: 1 !important;
                                }
                                .card-product__actions {
                                    opacity: 1 !important;
                                }
                                &.card-product__content--initial {
                                    z-index: 9999 !important;
                                    .card-product__headline-container {
                                        .card__article-number {
                                            span {
                                                color: $whiteColor;
                                            }
                                        }
                                    }
                                    .card-product__price-container {
                                        .price {
                                            .price__container {
                                                .price-item {
                                                    color: $whiteColor;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                        .vat-info-badge {
                                            color: $whiteColor !important;
                                            .info-icon {
                                                color: $whiteColor !important;
                                                background-color: rgba(255,255,255,0.3);
                                            }
                                        }
                                    }
                                    .card-product__weight {
                                        span {
                                            color: $whiteColor;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                &.card-product__content--hover {
                                    background-color: rgba(26,45,28,55%);
                                }
                            }
                        }
                    }
                }
                /*&.static {
                    display: block;
                    position: absolute;
                }
                &.hover {
                    display: none;
                }*/
            }
        }
    }
}

// Mobile Spezifikationen verstecken auf Desktop
.card-product__specs-mobile {
    display: none;
}

// Mobile Styling für Produktkarten - Nebeneinander Layout wie alte Website
@media screen and (max-width: 749px) {
    // Mobile Spezifikationen anzeigen
    .card-product__specs-mobile {
        display: block !important;
        margin: 0px 0px 12px 0px !important;
        width: 100%;
        .card-product__specs-list {
            margin: 0px !important;
            padding: 0px !important;
            width: 100% !important;
            display: block !important;
            list-style: none !important;

            li.card-product__specs-item {
                font-family: 'Cormorant Garamond' !important;
                font-size: $fontSizeSmall !important;
                color: $mainColorDark !important;
                margin: 0px !important;
                padding: 0px !important;
                list-style: none !important;
                display: flex !important;
                width: 100% !important;
                align-items: center !important;
                line-height: 1.4 !important;

                span.card-product__specs-label {
                    font-family: 'Cormorant Garamond' !important;
                    font-weight: normal !important;
                    color: $mainColorDark !important;
                    text-align: left !important;
                    flex: 1 !important;
                    min-width: 0 !important;
                }

                span.card-product__specs-value,
                span.unit-convertible {
                    font-family: 'Cormorant Garamond' !important;
                    font-weight: normal !important;
                    color: $mainColorDark !important;
                    text-align: right !important;
                    flex: 0 0 auto !important;
                    margin-left: auto !important;
                    white-space: nowrap !important;
                }
            }
        }
    }

    #ProductGridContainer, product-recommendations {
        .card-wrapper {
            .card {
                display: flex !important; // Flexbox für nebeneinander Layout
                flex-direction: row !important;
                align-items: stretch !important;

                .card__inner {
                    flex: 0 0 40% !important; // Bild nimmt 30% der Breite
                    max-width: 40% !important;
                }

                .card__content {
                    flex: 1 !important; // Content nimmt restliche 70%
                    position: static !important; // Normale Positionierung für Mobile
                    height: auto !important;
                    display: flex !important;
                    flex-direction: column !important;
                    padding: 10px !important;

                    .card__information {
                        flex: 1 !important;
                        display: flex !important;
                        flex-direction: column !important;

                        .card-product__link {
                            flex: 1 !important;
                            display: flex !important;
                            flex-direction: column !important;

                            .card-product__content {
                                display: flex !important;
                                flex-direction: column !important;
                                height: 100% !important;
                                padding: 0px !important;

                                &.card-product__content--initial {
                                    position: static !important;
                                    z-index: auto !important;
                                    opacity: 1 !important;
                                    visibility: visible !important;
                                    flex: 1 !important;
                                    display: flex !important;
                                    flex-direction: row !important;

                                    .card-product__headline-container {
                                        margin: 0px 0px 8px 0px !important;

                                        .card__article-number {
                                            margin-bottom: 4px !important;
                                            span {
                                                color: $mainColorDark !important;
                                                font-size: $fontSizeSmall !important;
                                            }
                                        }

                                        h1, h2, h3, h4, h5, h6 {
                                            color: $mainColorDark !important;
                                            opacity: 1 !important;
                                            font-size: $fontSizeRegular !important;
                                            margin: 0px !important;
                                            line-height: 1.2 !important;
                                        }
                                    }

                                    .card-product__weight {
                                        margin: 0px 0px 8px 0px !important;
                                        display: none;
                                        span {
                                            color: $mainColorDark !important;
                                            font-size: $fontSizeSmall !important;
                                            font-weight: bold !important;
                                        }
                                    }

                                    .card-product__price-container {
                                        margin: 8px 0px !important;

                                        .price {
                                            .price__container {
                                                .price-item {
                                                    color: $mainColorDark !important;
                                                    font-size: $fontSizeRegular !important;
                                                    font-weight: bold !important;
                                                }
                                            }
                                        }

                                        .vat-info-badge {
                                            color: $mainColorDark !important;
                                            font-size: $fontSizeSmall !important;
                                            .info-icon {
                                                color: $mainColorDark !important;
                                                background-color: rgba(0,0,0,0.1) !important;
                                            }
                                        }
                                    }

                                    .card-product__actions {
                                        opacity: 1 !important;
                                        width: 100% !important;
                                        margin: 8px 0px 0px 0px !important;

                                        button,
                                        .card-product__add-button {
                                            font-size: $fontSizeSmall !important;
                                            padding: 6px 12px !important;
                                        }
                                    }
                                }

                                &.card-product__content--hover {
                                    display: none !important; // Hover-Content für Mobile ausblenden
                                }
                            }

                            // Keine Hover-Effekte für Mobile
                            &:hover {
                                .card-product__content {
                                    h1, h2, h3, h4, h5, h6 {
                                        opacity: 1 !important;
                                        color: $mainColorDark !important;
                                    }
                                    .card-product__actions {
                                        opacity: 1 !important;
                                    }
                                    &.card-product__content--initial {
                                        .card-product__headline-container {
                                            .card__article-number {
                                                span {
                                                    color: $mainColorDark !important;
                                                }
                                            }
                                        }
                                        .card-product__price-container {
                                            .price {
                                                .price__container {
                                                    .price-item {
                                                        color: $mainColorDark !important;
                                                    }
                                                }
                                            }
                                            .vat-info-badge {
                                                color: $mainColorDark !important;
                                                .info-icon {
                                                    color: $mainColorDark !important;
                                                    background-color: rgba(0,0,0,0.1) !important;
                                                }
                                            }
                                        }
                                        .card-product__weight {
                                            span {
                                                color: $mainColorDark !important;
                                            }
                                        }
                                    }
                                    &.card-product__content--hover {
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}