product-info {
    .product {
        .product__media-wrapper {
            media-gallery {
                .product__media-list {
                    .product__media-item {
                        @media screen and (min-width: 981px) {
                        border-radius: 16px;
                        overflow: hidden;
                        border: 1px solid $grayColorLight;
                        }
                    }
                }
            }
        }
        .product__info-wrapper {
            @media screen and (max-width: 981px) {
                margin: 30px 0 30px 0px;
            }
            .product__sku {
                font-family: 'Copperplate';
                color: $mainColor;
                font-weight: 100;
                font-size: $fontSizeRegular;
                text-decoration: none;
                margin: 0px;
                color: $grayColor;
            }
            .product__title {
                margin: 10px 0px 15px 0px;
                h1 {
                    font-family: 'Cormorant Garamond';
                    color: $mainColor;
                    font-size: $fontSizeXLarge !important;
                    margin: 0px 0px 0px 0px;
                    line-height: 1;
                    @include screen(med-small) {
                        font-size: $fontSizeMedium;
                    }
                }
            }
            .product__description {
                font-family: 'Cormorant Garamond';
                color: $mainColorDark;
                font-size: $fontSizeRegular;
                margin: 0px 0px 15px 0px;
            }
            .price {
                flex: 0 0 auto;
                .price__container {
                    display: block;
                    .price-item {
                        font-family: 'Cormorant Garamond';
                        color: $mainColorDark;
                        font-size: $fontSizeLarge;
                    }
                }
                .price__badge-sold-out {
                    
                    margin: 0px;
                    font-size: $fontSizeRegular;
                    font-family: 'Copperplate';
                    color: $whiteColor;
                    font-weight: 100;
                    background-color: $mainColor;
                }
            }
        }
    }
}

product-recommendations {
    .related-products__heading {
        font-family: 'Cormorant Garamond';
        color: $mainColor;
        font-size: $fontSizeLarge !important;
        margin: 30px 0px 15px 0px;
        line-height: 1;
        @include screen(med-small) {
            font-size: $fontSizeMedium;
        }
    }
    .card__content {
        overflow: hidden;
        display: flex;
        .card__information {
            max-width: 100%;
        }
        /*.card-product__specs-list {
            max-width: 100%;
            min-width: 260px !important;
        }
        .card__information {
            width: calc(100% - 15px);
            .card-product__content {
                padding: 28px !important;
            }
        }
        .card-product__price-container {
            max-width: 100%;
        }*/
    }
    /*.card-product__actions {
        min-width: 255px !important;
    }*/
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Cormorant Garamond';
        font-size: $fontSizeSmall;
        color: $whiteColor;
        opacity: 0;
        margin: 5px 0px 0px 0px;
    }
}