.search__input.field__input {
  padding-right: 9.8rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

/* FORCE search results to use Shopify's flexbox grid system like collections */
.template-search__results .product-grid {
  display: flex !important;
  flex-wrap: wrap !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  column-gap: var(--grid-mobile-horizontal-spacing) !important;
  row-gap: var(--grid-mobile-vertical-spacing) !important;
}

@media screen and (min-width: 750px) {
  .template-search__results .product-grid {
    column-gap: var(--grid-desktop-horizontal-spacing) !important;
    row-gap: var(--grid-desktop-vertical-spacing) !important;
  }
}

/* Force search grid items to behave like collection grid items */
.template-search__results .product-grid .grid__item {
  display: block !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Mobile: 2 columns by default */
.template-search__results .product-grid.grid--2-col-tablet-down .grid__item {
  width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}

/* Mobile: 1 column */
.template-search__results .product-grid.grid--1-col-tablet-down .grid__item {
  width: 100% !important;
  max-width: 100% !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}

/* Desktop: 3 columns by default */
@media screen and (min-width: 750px) {
  .template-search__results .product-grid.grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3) !important;
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3) !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  .template-search__results .product-grid.grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  .template-search__results .product-grid.grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4) !important;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4) !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  .template-search__results .product-grid.grid--1-col-desktop .grid__item {
    width: 100% !important;
    max-width: 100% !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }
}
