.collection-list-wrapper {
    .collection-list {
        .grid__item:last-child {
            .card-wrapper {
                .card {
                    .card__inner {
                        background-color: $mainColor;
                    }
                }
            }
        }
        .grid__item {
            .card-wrapper {
                // Ganze Karte klickbar machen
                display: block;
                text-decoration: none;
                color: inherit;
                cursor: pointer;

                .card {
                    position: relative;
                    .card__inner {
                        max-height: 300px;
                        @include screen(med-small) {
                            max-height: 150px;
                        }
                        .card__media {
                            position: relative;
                            img {
                                object-fit: cover; // Standard für normale Collection-Bilder
                            }
                            &:before {
                                display: block;
                                position: absolute;
                                z-index: 1;
                                background-color: rgba(26,45,28,55%);
                                content: ' ';
                                width: 100%;
                                height: 100%;
                                transition: background-color 0.3s ease;
                            }
                        }
                    }
                }

                // Spezielle Behandlung für cutout_images
                .card--media {
                    .card__inner {
                        .card__media {
                            img {
                                object-fit: contain; // Für cutout_images
                            }
                        }
                    }
                    // Card content styling wird unten für alle Karten definiert
                }

                // Card content styling für alle Karten (sowohl cutout als auch normale)
                .card__content {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 100%;
                    z-index: 2;
                    .card__information {
                        padding: 30px 20px !important;
                        h3 {
                            font-family: 'Copperplate';
                            color: $whiteColor;
                            font-size: $fontSizeLarge;
                            margin: 0px 0px 0px 0px;
                            @include screen(med-small) {
                                font-size: $fontSizeMedium;
                            }
                        }
                        h4 {
                            font-family: 'Cormorant Garamond';
                            color: $whiteColor;
                            font-size: $fontSizeMedium;
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }

                // Hover-Effekt für dunkleres Overlay
                &:hover {
                    .card {
                        .card__inner {
                            .card__media {
                                &:before {
                                    background-color: rgba(26,45,28,70%); // Dunkler bei Hover
                                }
                            }
                        }
                    }
                }

                // Spezifische Regel für All Products Collection - Headline anzeigen
                .card--all-products.card--standard.card--text:not(.card--horizontal) > .card__content .card__heading:not(.card__heading--placeholder),
                .card--standard.card--text:not(.card--horizontal) > .card__content .card__heading:not(.card__heading--placeholder) {
                    display: block !important;
                }
            }
        }
    }
}