#collection-slider {
    @include screen(med-small) {
        display: none;
    }
    .slider-container {
        .slick-arrow {
            @include center-vertically;
            z-index: 1;
            &.slickNavPrev {
                left: 20px;
            }
            &.slickNavNext {
                right: 20px;
            }
            i, svg {
                font-size: $fontSizeLarge*2;
                fill: $whiteColor;
                color: $whiteColor;
                font-weight: 100;
                @include screen(med-small) {
                    font-size: $fontSizeLarge;
                }
            }
        }
        .slider-item {
            cursor: pointer;
            outline: none;

            &:focus {
                outline: 2px solid rgba($whiteColor, 0.8);
                outline-offset: 4px;
            }

            .slider-background {
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                &:before {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    background-color: rgba(26,45,28,55%);
                    content: ' ';
                    width: 100%;
                    height: 100%;
                }
                .slider-content {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    min-height: calc(100vh - 150px);
                    position: relative;
                    z-index: 9;
                    @include screen(med-small) {
                        display: block;
                        padding: 0 50px;
                    }
                    .category-image {
                        flex: 0 0 40%;
                        @include screen(med-small) {
                            display: block;
                            max-width: calc(100% - 50px);
                            padding: 40px 0px 0px 0px;
                        }
                        img {
                            max-width: 100%;
                            @include screen(med-small) {
                                width: 400px;
                                max-width: calc(100% - 50px);
                                margin: 0 auto;
                            }
                        }
                    }
                    .category-details {
                        flex: 1 1 auto;
                        padding: 0 0 0 40px;
                        @include screen(med-small) {
                            display: block;
                            max-width: calc(100% - 50px);
                            padding: 0px 0 80px 0px;
                        }
                        h2 {
                            font-family: 'Copperplate';
                            color: $whiteColor;
                            font-size: $fontSizeLarge*2;
                            margin: 0px 0px 0px 0px;
                            @include screen(med-small) {
                                font-size: $fontSizeLarge;
                            }
                        }
                        p {
                            font-family: 'Cormorant Garamond';
                            color: $whiteColor;
                            font-size: $fontSizeMedium;
                            margin: 20px 0;
                        }

                        // Robuste Normalisierung für alle Text-Elemente
                        // Verhindert Probleme durch Copy/Paste aus Word etc.
                        p, span, div, strong, em, b, i, u {
                            font-family: 'Cormorant Garamond' !important;
                            color: $whiteColor !important;
                            font-size: $fontSizeMedium !important;
                            line-height: 1.4 !important;
                            font-weight: normal !important;
                            text-decoration: none !important;

                            // Entfernt alle möglichen Word-Formatierungen
                            background: none !important;
                            border: none !important;
                            padding: 0 !important;
                            margin: 0 !important;

                            // Spezielle Behandlung für verschachtelte Elemente
                            * {
                                font-family: inherit !important;
                                color: inherit !important;
                                font-size: inherit !important;
                                line-height: inherit !important;
                                font-weight: inherit !important;
                                text-decoration: inherit !important;
                                background: none !important;
                                border: none !important;
                                padding: 0 !important;
                                margin: 0 !important;
                            }
                        }

                        // Spezielle Behandlung für p-Tags (Absätze sollen Margin behalten)
                        p {
                            margin: 20px 0 !important;
                        }

                        // Catch-all für alle anderen möglichen Elemente aus Word/Copy-Paste
                        // Überschreibt alle inline-styles und Word-spezifische Formatierungen
                        * {
                            &:not(h2):not(.category-link):not(a):not(img) {
                                font-family: 'Cormorant Garamond' !important;
                                color: $whiteColor !important;
                                font-size: $fontSizeMedium !important;
                                line-height: 1.4 !important;
                                background: none !important;
                                border: none !important;

                                // Entfernt Word-spezifische Attribute
                                mso-style-name: unset !important;
                                mso-style-type: unset !important;
                                mso-style-parent: unset !important;
                                mso-pagination: unset !important;
                                mso-layout-grid-align: unset !important;
                            }
                        }
                        .category-link {
                            font-family: 'Cormorant Garamond';
                            color: $whiteColor;
                            font-size: $fontSizeMedium;
                            font-weight: bold;
                            text-decoration: none;
                            transition: color 0.3s ease;

                            &:hover {
                                color: rgba($whiteColor, 0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}