.exhibition-calendar {
  margin-top: 5rem;
}

.exhibition-calendar__wrapper {
  margin: 0 auto;
}

.exhibition-calendar__heading {
  margin-bottom: 3rem;
  text-align: center;
}

.exhibition-calendar__grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exhibition-calendar__item {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.exhibition-calendar__icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.exhibition-calendar__content {
  flex-grow: 1;
}

.exhibition-calendar__dates {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.exhibition-calendar__location {
  color: rgba(var(--color-foreground), 0.75);
  margin-bottom: 0.5rem;
}

.exhibition-calendar__country {
  color: rgba(var(--color-foreground), 0.6);
}

.exhibition-calendar__link {
  color: rgb(var(--color-link));
  text-decoration: none;
  font-weight: 500;
}

.exhibition-calendar__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  .exhibition-calendar__grid {
    gap: 3rem;
  }
  
  .exhibition-calendar__icon {
    width: 64px;
    height: 64px;
  }
}
