html, body {
	line-height: 1.5;
}

.buckscc-currency-box {
	z-index: 1 !important;
}

.btn-cancel {
	background-color: $whiteColor !important;
	color: $mainColor !important;
	border: 1px solid $mainColor !important;
	&:hover {
		background-color: $mainColor !important;
		color: $whiteColor !important;
	}
}

* {
	outline: none !important;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

.clearfix {
	@extend %clearfix;
}

img {
	image-rendering: -moz-crisp-edges !important;         /* Firefox */
	image-rendering:   -o-crisp-edges !important;         /* Opera */
	image-rendering: -webkit-optimize-contrast !important;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges !important;
	-ms-interpolation-mode: nearest-neighbor !important;  /* IE (non-standard property) */
}

.button {
	background-color: $mainColor;
	color: $whiteColor;
	font-family: 'Cormorant Garamond';
	font-size: $fontSizeRegular;
	border: 0px solid transparent !important;
	@include transition(all .3s ease);
	&:hover {
		background-color: $mainColorDark;
	}
	&:before, &:after {
		display: none !important;
	}
}

.alignment-left {
	text-align: left !important;
	* {
		text-align: left !important;
	}
}

.alignment-center {
	text-align: center !important;
	* {
		text-align: center !important;
	}
}

.alignment-right {
	text-align: right !important;
	* {
		text-align: right !important;
	}
}

.alignment-justify {
	text-align: justify !important;
	* {
		text-align: justify !important;
	}
}

.hide {
	visibility: hidden !important;
	opacity: 0 !important;
}