footer {
    &.footer {
        .footer__content-top {
            padding: 40px 0;
            max-width: var(--page-width);
            
            .footer__blocks-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 0px !important;
                
                @media screen and (max-width: 749px) {
                    flex-direction: column;
                    
                    .footer-block {
                        width: 100% !important; // Überschreibe die spezifische Breite auf Mobilgeräten
                    }
                }
                .footer-block__brand-info {
                    margin-top: 30px;
                }
                h1, h2, h3, h4, h5, h6 {
                    font-family: Cormorant Garamond;
                    color: $whiteColor;
                    font-size: $fontSizeMedium !important;
                    margin: 0;
                    font-weight: bold;
                }
                
                p, .rte {
                    font-family: Cormorant Garamond;
                    color: $whiteColor;
                    font-size: $fontSizeRegular !important;
                    margin: 0;
                }
            }
            
            // Entferne die festen Grid-Spalten und verwende die individuellen Breiten
            .footer-block.grid__item {
                width: auto; // Die Breite wird durch das inline-style überschrieben
                box-sizing: border-box;
                padding: 0 20px;
                min-width: 200px; // Minimale Breite für bessere Lesbarkeit
                flex-grow: 0;
                flex-shrink: 0;
                .list-social {
                    margin: 10px 0px !important;
                    padding: 0px !important;
                    justify-content: flex-start;
                    .list-social__item {
                        a {
                            padding: 0px !important;
                            .svg-wrapper {
                                height: 30px !important;
                                width: 30px !important;
                            }
                            .icon {
                                height: 30px !important;
                                width: 30px !important;
                            }
                        }
                    }
                }
            }
            .footer-block.grid__item + .footer-block.grid__item {
                width: auto !important;
                justify-self: flex-end !important;
            }
            // Dynamische Newsletter-Breiten basierend auf den Einstellungen
            @for $i from 0 through 10 {
                $width: $i * 10;
                .newsletter-width-#{$width} {
                    width: #{$width + '%'} !important;
                }
            }
        }
        .footer__content-bottom {
            padding: 20px 0px !important;
        }
        // Zusätzliche Menüs
        .footer__menu-row {
            padding: 8px 0;
            border: 0px solid transparent;

            .footer__menu-wrapper {
                width: 100%;
            }

            .footer__menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                padding: 0;

                @media screen and (max-width: 749px) {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                li {
                    margin: 0 15px;
                    padding: 0;

                    @media screen and (max-width: 749px) {
                        margin: 5px 0;
                    }
                }

                .footer__menu-link {
                    font-family: 'Cormorant Garamond';
                    font-size: $fontSizeRegular;
                    color: $whiteColor;
                    text-decoration: none;
                    transition: opacity 0.2s ease-in-out;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        // Untere Footer-Zeile
        .footer__bottom-row {
            background-color: $accentLight;
            padding: 15px 0;

            .footer__bottom-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                
                @media screen and (max-width: 749px) {
                    flex-direction: column;
                    text-align: center;
                }
                
                .footer__bottom-item {
                    margin: 5px 10px;
                    font-family: 'Cormorant Garamond';
                    font-size: $fontSizeSmall;
                    color: $mainColor;
                    
                    @media screen and (max-width: 749px) {
                        margin: 5px 0;
                    }
                    
                    a {
                        color: $mainColor;
                        text-decoration: none;
                        transition: opacity 0.2s ease-in-out;
                        &:hover {
                            opacity: 0.8;
                        }
                        
                        .fa-heart {
                            color: #ff4d4d;
                        }
                    }
                }
                
                .footer__payment-icons {
                    .list-payment {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        
                        @media screen and (max-width: 749px) {
                            justify-content: center;
                        }
                        
                        .list-payment__item {
                            margin-left: 8px;
                            
                            @media screen and (max-width: 749px) {
                                margin: 0 4px;
                            }
                            
                            .icon {
                                width: 40px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Allgemeine dynamische Breitenklassen für alle Blöcke
@for $i from 0 through 10 {
    $width: $i * 10;
    .block-width-#{$width} {
        width: #{$width + '%'} !important;
    }
}

// Debug-Meldung für das Newsletter-Element hinzufügen
footer.footer .footer-block--newsletter::before {
    content: "Breite über CSS-Klasse gesetzt";
    display: block;
    background-color: #0a5d17;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

