header {
    &.header {
        padding: 0px !important;
        max-width: 100% !important;
        @include box-shadow(0, 4px, 15px, rgba(0, 0, 0, 0.185));
        @include screen(med-small) {
            padding: 10px 1.5rem !important;
        }
        .header__heading-link {
            padding: 15px 40px !important;
            @include screen(med-small) {
                padding: 0px !important;
            }
        }
        .header__icons {
            padding: 0 40px !important;
            @include screen(med-small) {
                padding: 0px !important;
            }
        }
        .header__inline-menu {
            margin: 0 0 -1px 0 !important;
            padding: 12px 40px !important;
            background-color: $whiteColor !important;
            width: 100% !important;

            // Ab 980px ausblenden (Offcanvas-Menü greift)
            @media screen and (max-width: 980px) {
                display: none !important;
            }

            .list-menu {
                &.list-menu--inline {
                    width: 100% !important;
                    justify-content: space-between !important;
                    flex-wrap: nowrap !important;
                }

                li {
                    flex: 0 1 auto !important;
                    text-align: center !important;
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;

                    // Erstes Element linksbündig
                    &:first-child {
                        text-align: left !important;
                        justify-content: flex-start !important;
                        margin-left: 0 !important;

                        a, summary {
                            padding-left: 0 !important;
                        }
                    }

                    // Letztes Element rechtsbündig
                    &:last-child {
                        text-align: right !important;
                        justify-content: flex-end !important;
                        margin-right: 0 !important;

                        a, summary {
                            padding-right: 0 !important;
                        }
                    }

                    a, summary {
                        padding: 10px;
                        display: flex !important;
                        align-items: center !important;
                        justify-content: center !important;

                        // Responsive padding
                        @media screen and (max-width: 1500px) {
                            padding: 10px 8px;
                        }

                        @media screen and (max-width: 1400px) {
                            padding: 10px 7px;
                        }

                        @media screen and (max-width: 1280px) {
                            padding: 10px 6px;
                        }

                        @media screen and (max-width: 1200px) {
                            padding: 10px 5px;
                        }

                        @media screen and (max-width: 1100px) {
                            padding: 10px 4px;
                        }

                        @include screen(xx-large) {
                            padding: 10px 6px;
                        }

                        span {
                            color: $mainColor;
                            font-family: 'Cormorant Garamond';
                            font-size: $fontSizeLarge/1.625;
                            line-height: 1.2 !important;
                            text-align: center !important;
                            white-space: nowrap !important; // Standard: einzeilig

                            // Ab 1500px Labels können zweizeilig werden (erweitert von 1280px)
                            // Aber nur zwischen Wörtern, niemals innerhalb eines Wortes
                            @media screen and (max-width: 1500px) {
                                white-space: normal !important;
                                word-break: keep-all !important; // Verhindert Umbruch innerhalb von Wörtern
                                overflow-wrap: break-word !important; // Erlaubt Umbruch nur zwischen Wörtern
                                hyphens: none !important; // Keine Silbentrennung
                                font-size: $fontSizeRegular * 0.95;
                            }

                            @media screen and (max-width: 1400px) {
                                font-size: $fontSizeRegular * 0.92;
                            }

                            @media screen and (max-width: 1280px) {
                                font-size: $fontSizeRegular * 0.9;
                            }

                            @media screen and (max-width: 1200px) {
                                font-size: $fontSizeRegular * 0.85;
                            }

                            @media screen and (max-width: 1100px) {
                                font-size: $fontSizeRegular * 0.8;
                            }

                            @media screen and (max-width: 1000px) {
                                font-size: $fontSizeRegular * 0.75;
                            }

                            // Nur bei sehr großen Bildschirmen einzeilig erzwingen
                            @media screen and (min-width: 1501px) {
                                font-size: $fontSizeRegular;
                                white-space: nowrap !important;
                            }
                        }
                    }
                }
            }
        }
    }
}